<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Calculate Sum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Total</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item  >
    <ion-label >Gold (oz) X {{goldPrice}}</ion-label>
    <ion-input  slot="end" [(ngModel)]="goldCount" (ionChange)="modelChange()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Silver (oz) X {{silverPrice}}</ion-label>
    <ion-input slot="end"  [(ngModel)]="silverCount" (ionChange)="modelChange()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Platinum (oz) X {{platinumPrice}}</ion-label>
    <ion-input slot="end" [(ngModel)]="platinumCount" (ionChange)="modelChange()"></ion-input>
  </ion-item>

  <ion-card>
    <ion-item>
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>Total</ion-label>
    </ion-item>
    <ion-card-header class="ion-float-right">
      <ion-card-subtitle>
        <ion-badge color="success">{{currency}}</ion-badge>
      </ion-card-subtitle>
      <ion-card-title size="large">
        {{total}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
